.header {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    background-color: white;
    padding: 1rem;
}

.header-title {
    color: black;
    font-size: 1.2rem;
}